@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/montserrat-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/montserrat-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url('../fonts/montserrat-semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-semibold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'montserrat-extrabold';
  src: url('../fonts/montserrat-extrabold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-extrabold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-extrabold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-extrabold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'montserrat-medium';
  src: url('../fonts/montserrat-medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/montserrat-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}