
/* COLOR THEME */
$white_color:#fff;
$black_color-one:#000;
$black_color_two:#212121;
$primary_color:#7E7EF4;
$seconday_color:#263D5A;
$gray_color_one:#F2F2F2;
$gray_color_two:#E5E5FD;
$gray_color_three:#919A9F;
$gray_color_four:#E9E9E9;
$gray_color_five:#D4D9DF;
$gray_color_six:#F1F1FD;
$gray_color_seven:#95979B;
$gray_color_eight:#F5F5F5;
$blue_color_one:#ABB5C1;
$blue_color_two:#0c1724;
$blue_color_three:#2E4765;
$blue_color_four:#2F5DBE;
$blue_color_five:#456FC8;
$orange_color_one:#FDDF99;
$orange_color_two:#FFBC6E;
$pink_color_one:#fff2e2;
$pink_color_two:#FD9F9F;
$red_color_one:#E64D47;
$red_color_two:#EB605B;
$red_color_three:#951b25;
$green_color_one:#6BD16E;
$green_color_two:#84df87;
$green_color_three:#6cd16e;
$green_color_four:#25A839;

/* FONT FACE */
$ff_monst_r:'montserrat-regular';
$ff_monst_b:'montserrat-bold';
$ff_monst_xxb:'montserrat-extrabold';
$ff_monst_m:'montserrat-medium';
$ff_monst_sb:'montserrat-semibold';

/* FONT SIZE */
$fs8:8px;
$fs9:9px;
$fs10:10px;
$font11:11px;
$font_verysmall:12px;
$font_base:13px;  
$font_base_medium: 14px; // Base Font size
$font_small_medium: 15px;
$font_medium: 16px;
$font_large:18px;
$font_extra_large:20px;
$font_extra_large_two:24px;
$font_larger: 26px;
$font_extra_very_large: 32px;
$font_extra_very_very_large: 42px;
$font_50:50px;
$font_60:60px;
$font_70:70px;
$font_100:100px;
$font_122:122px;

/* TEXT ALIGNMENT */
$text-right:text-right;
$text-left:text-left;






